<div>
<form action="/events/create" method="post">
your name<input type ="text" name="event[organizer_name]" value""></input>
email<input type ="text" name="event[organizer_email]"></input>
title<input type ="text" name="event[title]"></input>
date<input type="date" name="event[date]">
<input type="submit" value = "submit"></input>
</form>
</div>

<!-- add date field -->
